* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.error {
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
  color: red;
}

.notFound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
